.contact-form {
  display: block;
  max-width: 745px;
  width: 100%;
  position: relative;

  &__title {
    margin-bottom: 47px;

    @media (min-width: 576px) {
      font-size: 60px !important;
    }

    @media (max-width: 991px) {
      text-align: center;
    }
  }

  &__field {
    position: relative;
    margin-bottom: 15px;
  }

  &__input {
    display: block;
    width: 100%;
    border: 1px solid #a1bee5;
    border-radius: 5px;
    padding: 14px 17px;
    appearance: none;
    font-size: 20px;
    line-height: 30px;
    color: var(--black);
    outline: 0px;

    &--textarea {
      height: 198px;
      resize: none;
    }
  }

  &__button {
    display: block;
    width: 100%;
    padding: 3px 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    background: var(--black);
    color: var(--white);
    appearance: none;
    border: none;
    outline: 0px;
  }
}
