.home-carousel {
  padding-top: 60px;
  padding-bottom: 30px;

  &__item {
    overflow: hidden;
    position: relative;
    padding-top: 26px;
    border-radius: 50px;
  }

  &__inner {
    position: relative;
    box-sizing: border-box;
    height: 692px;
    background: url("../../images/home/slide-purple.jpg") no-repeat center
      center;
    background-size: cover;
    border-radius: 50px;
    overflow: hidden;
    padding: 45px 30px 30px;

    @media (min-width: 576px) {
      padding-top: 102px 60px;
    }
  }

  &__wrapper {
    max-width: 563px;

    @media (max-width: 767px) {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }

  &__title {
    color: var(--white);
    font-family: var(--title-font);
    font-size: 48px;
    line-height: 45px;
    margin-bottom: 30px;

    @media (min-width: 768px) {
      font-size: 96px;
      line-height: 91px;
    }
  }

  &__text {
    color: var(--white);
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 45px;

    @media (min-width: 768px) {
      font-size: 20px;
      line-height: 40px;
      margin-bottom: 60px;
    }
  }

  &__link {
    display: block;
    max-width: 200px;
    padding: 3px 10px;
    background-color: var(--white);
    color: var(--black);
    text-align: center;
    border-radius: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;

    @media (max-width: 767px) {
      margin-left: auto;
      margin-right: auto;
    }

    &:hover {
      color: var(--black);
    }
  }

  &__image {
    position: absolute;
    bottom: 0;
    right: 0;

    @media (max-width: 1199px) {
      display: none;
    }
  }

  &__curv {
    margin-bottom: 30px;

    @media (max-width: 576px) {
      width: 150px;
      margin-bottom: 15px;
    }
  }

  &__circle {
    position: absolute;
    bottom: 87px;

    @media (max-width: 575px) {
      display: none;
    }

    @media (min-width: 576px) and (max-width: 767px) {
      right: 60px;
      bottom: 45px;
    }

    @media (min-width: 768px) and (max-width: 1199px) {
      right: 120px;
    }

    @media (min-width: 1400px) {
      left: 500px;
    }
  }

  &__line {
    position: absolute;
    top: 2px;
    right: 7px;

    @media (max-width: 1599px) {
      display: none;
    }
  }
}

.swiper-home {
  height: 792px;
  width: 100%;
}

.swiper-pagination-bullet {
  width: 14px !important;
  height: 14px !important;

  &-active {
    background-color: var(--blue-one) !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
}
