.talk-main {
  padding-top: 80px;
  padding-bottom: 66px;
  background: rgba(197, 223, 237, 0.4);

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  &__back {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--black);
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 19px;

    span {
      font-size: 14px;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background: var(--blue-one);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      color: var(--black);
    }
  }

  &__title {
    margin-bottom: 9px;
  }

  &__date {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
  }

  &__text {
    font-size: 21px;
    line-height: 40px;
  }

  &__image {
    img {
      border: 7px solid #c3b4d8;
      border-radius: 50px;
      max-width: 702px;
      aspect-ratio: 234 / 157;
      object-fit: cover;
      object-position: center;
      margin-left: auto;
    }
  }
}

.talk-section {
  padding-top: 60px;
  padding-bottom: 60px;

  &__text {
    font-size: 21px;
    line-height: 40px;
    text-align: center;
    max-width: 1262px;
    margin: 0 auto 60px;
  }

  &__link {
    display: block;
    max-width: 200px;
    background: var(--black);
    color: var(--white);
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    padding: 3px 10px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;

    &:hover {
      color: var(--white);
    }
  }
}
