:root {
  --main-color: #333;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: var(--main-color);
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

.btn-noweb {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: #303a44;
  color: #fff;
}

.btn-outline-noweb {
  background: #fff;
  color: #303a44;
  border-color: #303a44 !important;

  &:hover {
    color: #fff;
    background: #303a44;
  }
}

.btn-link {
  appearance: none !important;
  background: none !important;
  border: none !important;
  padding-right: var(--bs-navbar-nav-link-padding-x);
  padding-left: var(--bs-navbar-nav-link-padding-x);
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.card-image {
  display: block;
  max-width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}
