:root {
  --main-color: #333;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: var(--main-color);
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}
