:root {
  // Typography
  --text-font: "Gotham";
  --title-font: "Loli Pop";

  // Colors
  --white: #fff;
  --white-two: #f7f7f7;
  --black: #000;
  --purple: #c3b4d8;
  --blue-one: #a1bee5;
  --blue-two: #c5dfed;
  --gray: #cdcdcd;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: var(--black);
  font-family: var(--text-font);
  line-height: 1.5;
  font-size: 16px;
}

a {
  color: var(--black);
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

strong,
b {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}

.container {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: 575px) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (min-width: 1400px) {
    max-width: 1320px;
  }

  @media (min-width: 1600px) {
    max-width: 1520px;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.page-title {
  color: var(--black);
  font-family: var(--title-font);
  font-size: 70px;
  font-weight: 400;
  line-height: 67px;
}
